@using Microsoft.AspNetCore.Identity;
@using System.Collections.ObjectModel;
@using TastyBits.Model;
@layout DashboardLayout;
@using Microsoft.AspNetCore.Components.Forms
@using Serilog;
@using TastyBits.Components;
@using TastyBits.Services;

@inject MealServiceMediator _mealService;
@inject LoggedUserService _loggedUserService;
@inject ISnackbar _snackBar;
@inject CalorieApiService _calorieApi;

<MudDialog>
    <DialogContent>
        <div >
            <div class="">
                <img class="rounded-lg" src="/pics/add-meal-salad-croped.jpg" alt="addMealpic" />
            </div>
            <EditForm Model="@newRecipe" OnSubmit="@InsertRecipe">
                <DataAnnotationsValidator />
                <div class="input-form">
                    <label>How are we calling this meal?</label>
                    <InputText placeholder="eg. Egg Omlet" @bind-Value="@newRecipe.Name"></InputText>
                    <ValidationMessage class="dangerText" For="@(()=>newRecipe.Name)"></ValidationMessage>
                </div>
                <div class="input-form">
                    <label>Describe it</label>
                    <InputText placeholder="eg. scrambled eggs inside a tortilla" @bind-Value="@newRecipe.Description"></InputText>
                    <ValidationMessage class="dangerText" For="@(() => newRecipe.Description)"></ValidationMessage>
                </div>
                <div class="flex gap-3">
                    <div class="input-form">
                        <label>Servings ?</label>
                        <InputText placeholder="eg. two people" @bind-Value="@newRecipe.ServingAmount"></InputText>
                        <ValidationMessage class="dangerText" For="@(() => newRecipe.ServingAmount)"></ValidationMessage>
                    </div>
                    <div class="input-form">
                        <label>Time to prepare ?</label>
                        <InputText placeholder="eg. 5-10 minutes" @bind-Value="@newRecipe.PrepTime"></InputText>
                        <ValidationMessage class="dangerText" For="@(() => newRecipe.PrepTime)"></ValidationMessage>
                    </div>
                    <div class="input-form">
                        <label>Time to cook it ?</label>
                        <InputText placeholder="eg. 5 minutes" @bind-Value="@newRecipe.CookingTime"></InputText>
                        <ValidationMessage class="dangerText" For="@(() => newRecipe.CookingTime)"></ValidationMessage>
                    </div>
                </div>
                <p class="font-medium mt-5">Select what time of day this meals is best suited for ?</p>
                <MudChipSet @bind-SelectedChips="_selectedChips"  MultiSelection="true" Filter="true">
                    @foreach (TimeOfDayMeal tItem in Enum.GetValues(typeof(TimeOfDayMeal))) {
                        <MudChip SelectedColor="Color.Success" Value="tItem">@tItem.ToString()</MudChip>
                    }
                </MudChipSet>
                <ValidationMessage class="dangerText" For="@(() => newRecipe.TimeOfDayMeal)"></ValidationMessage>
                <div id="mealInstructions" class="input-form">
                    <label>Instructions on how to prepare this meal</label>
                    <InputTextArea class="p-2 border-2 rounded-lg border-gray-300  focus:outline-none focus:border-emerald-400 focus:shadow-sm focus:shadow-emerald-300" @bind-Value="newRecipe.Instructions" placeholder="Start with chopping the onions ..."></InputTextArea>
                </div>
                <div class="mt-5">
                    <IngredientTable isAddingNewRecipe="true" UserMealObject="newRecipe"></IngredientTable>
                </div>
                <div class="mt-5 p-1 bg-amber-200 rounded-lg text-center">

                    <p class="text-sm text-gray-500 mb-2 mt-2 p-1 flex items-center">
                        <span class="">
                            <i class="fa-solid fa-circle-info text-blue-400 h-5 mr-2"></i>
                        </span>
                        We can calculate your meal macros if you enter your ingredients in in english.
                     </p>
                </div>

                <p class="font-medium mt-5">And finally show us how your food looks like with some images</p>
                <div id="uploadMealImages" class="flex">
                    <label for="inputImage" class="grow border-2 rounded-lg border-dashed border-emerald-400 p-4 mt-2
                        hover:cursor-pointer hover:bg-emerald-50 duration-200">
                        @foreach (var imageF in _imageFiles) {
                            <div class="flex gap-2">
                                <p>@imageF.Name</p>
                                <button type="button" @onclick="@(() => RemoveUploadedImage(imageF))">
                                    <i class="fa fa-remove text-red-400"></i>
                                </button>
                            </div>
                        }
                        <div class="flex justify-center">
                            <p class="font-medium">Browse files</p>
                        </div>
                    </label>
                    <InputFile id="inputImage" class="sr-only" OnChange="UploadImages">

                    </InputFile>
                </div>
                <div id="formActions" class="flex justify-end gap-3 mt-5">
                    <button type="button" class="primaryOutline" @onclick="DialogClosing">
                        <div class ="flex gap-2 items-center">
                            <i class="fa fa-close"></i>
                            <p>Close</p>
                        </div>
                    </button>
                    <button type="submit" class="primaryButton font-bold">
                        <div class="flex gap-2 items-center">
                            @if (_isLoading) {
                                 <MudProgressCircular Indeterminate="true" Size="Size.Small" Color="Color.Primary"></MudProgressCircular> 
                            } else {
                                <span>
                                    <i class="fa fa-save"></i>
                                </span>
                            } 
                            <p>Save</p>
                        </div>
                    </button>
                </div>
                @*     @foreach (UserMeal.Ingridient item in newRecipe.Ingredients) {
                <div>@item.Name</div>
                <div>@item.Quantity</div>
                } *@
            </EditForm>
        </div>
    </DialogContent>
</MudDialog>



@code {
    [CascadingParameter] 
    MudDialogInstance MudDialog { get; set; }

    private bool _isLoading { get; set; } = false;
    private UserMeal newRecipe { get; set; } = new UserMeal();
    private QuantityUnit _selectedQUnit { get; set; }
    private ObservableCollection<IBrowserFile> _imageFiles { get; set; } = new ObservableCollection<IBrowserFile>();
    [Inject]
    private TastyDialogService _dialogService { get; set; }

    private EditContext newRecipeContext { get; set; }
    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authState { get; set; }

    private MudChip[] _selectedChips;

    private async Task GetCals()
    {
        await _calorieApi.GetCalorieAsync("rice");
    }
    protected override void OnInitialized()
    {
        newRecipeContext = new EditContext(newRecipe);
        InitIngredientRows(); // init first row

    }

    public async Task InsertRecipe(EditContext context)
    {
        ConvertMealTypes();
        bool isValid = context.Validate();
        bool isOk = false;
        //Log.Information("FORM VALID: "+isValid.ToString());
        if (isValid) {
            //bool isOk = await _dbService.InsertNewRecipeAsync(newRecipe);
            _isLoading = true;
            newRecipe.UserId = _loggedUserService.UserStore.Id;
            await ConvertImagesToBytes(_imageFiles);
            TaskResult result =await _mealService.AddNewMealAsync(newRecipe);

            if (!result.HasError) {
                Log.Information($"new meal inserted to database");
                await Task.Delay(500);
                newRecipe = new UserMeal();
                _imageFiles.Clear();
                InitIngredientRows();
                _snackBar.Add("New recipe added", Severity.Success);
            } else {
                Log.Information(result.ErrorDesc);
                _dialogService.ShowInfoError(result.ErrorDesc);
            }
        } else {
            // Model is not valid, handle validation errors or display them to the user
        }
        _isLoading = false;
    }

    private void InitIngredientRows()
    {
        UserMeal.Ingridient newIngridients = new();
        newRecipe.Ingredients.Add(newIngridients);
        newIngridients.Num = 1;

        StateHasChanged();
    }

    private async Task UploadImages(InputFileChangeEventArgs inputFiles)
    {
        foreach (var imageFile in inputFiles.GetMultipleFiles()) {
            _imageFiles.Add(imageFile);
        }
    }

    private async Task ConvertImagesToBytes(ObservableCollection<IBrowserFile> slike)
    {
        foreach (var imageFile in slike) {
            var imageStream = imageFile.OpenReadStream(imageFile.Size);
            byte[] imageBytes;
            using (var memoryStream = new MemoryStream()) {
                await imageStream.CopyToAsync(memoryStream);
                imageBytes = memoryStream.ToArray();
            }
            // Convert the byte array to a Base64-encoded string
            string base64Image = Convert.ToBase64String(imageBytes);
            newRecipe.Images.Add(base64Image);
        }
    }
    private void ConvertMealTypes()
    {
        if(_selectedChips !=null) {
            newRecipe.TimeOfDayMeal = new();
            foreach (var item in _selectedChips) {
                newRecipe.TimeOfDayMeal.Add(
                    (TimeOfDayMeal)Enum.Parse(typeof(TimeOfDayMeal), item.Value.ToString())
                );
            }
        }
    }
    private void RemoveUploadedImage(IBrowserFile img)
    {
        _imageFiles.Remove(img);
    }

    private void DialogClosing()
    {
        MudDialog.Close();
    }
}
