@page "/dashboard/allrecipes";
@page "/dashboard/home";

@layout DashboardLayout;
@using System.Collections.ObjectModel;
@using Application.UseCases;
@using Domain.Models;
@using Infrastructure.Data;
@using Microsoft.EntityFrameworkCore;
@using Serilog;
@using System.Diagnostics;
@using TastyBits.Pages.UserDashboard.Components;
@using TastyBits.Services;
@inject TastyDialogService _tastyDialog;
@inject ISnackbar _snackBar;
@inject LoggedUserService _loggedUserService;
@inject NavigationManager navManager;
@inject GetUserMealsById _userMealsUseCase;
@inject DemoDataStore _demoDataStore;

<AuthorizeView>
    <Authorized>
        <div id="recipeToolbar" class="flex p-2 gap-3 rounded-lg focus:outline-none">
            <MudSelect T="string" Label="Meal type" Clearable="true" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem T="string" Value="@("Meat")" />
                <MudSelectItem T="string" Value="@("Vegetarian")" />
                <MudSelectItem T="string" Value="@("Vegan")" />
                <MudSelectItem T="string" Value="@("Whatever")" />
            </MudSelect>
            <MudSelect @bind-Value="TimeOfDayMeal" Label="Time of day" Variant="Variant.Outlined" Clearable="true" AnchorOrigin="Origin.BottomCenter">
                @foreach (TimeOfDayMealT tItem in Enum.GetValues(typeof(TimeOfDayMealT)))
                {
                  <MudSelectItem T="string" Value="@tItem.ToString()">@tItem</MudSelectItem>
                }
            </MudSelect>
        </div>

        <div class="flex justify-center">
            <div id="recipes" class="flex flex-wrap mt-5 gap-10 p-2 justify-start ">
                <div @onclick=@AddNewMeal class="flex justify-center items-center border-dashed border-emerald-200 border-2 rounded-lg w-[27rem]
                    hover:cursor-pointer hover:bg-emerald-50
                    hover:border-emerald-300 duration-300">
                    <div class="text-center text-emerald-500 opacity-60">
                        <i class="fa fa-add h-10 w-10"></i>
                        <p class="font-medium text-lg">Add New</p>
                    </div>
                </div>
                @foreach (UserMeal meal in _filteredRecipes) {
                    <RecipeCard Meal="meal"
                                OnOpenButtonClick="@( ()=>OpenSelectedMeal(meal) )">
                    </RecipeCard>
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1 role="note">Please login in to view this page</h1>
    </NotAuthorized>
</AuthorizeView>


@code {
    private List<UserMeal> _allRecipes = new List<UserMeal>();
    private List<UserMeal> _filteredRecipes { get; set; } = new List<UserMeal>();

    private string _timeOfDayMeal; 
    public string TimeOfDayMeal
    {
        get => _timeOfDayMeal;
        set
        {
            _timeOfDayMeal = value;
            FilterSelectedTimeOfDay(_timeOfDayMeal);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_loggedUserService.UserStore != null & firstRender) {
            await LoadUserRecipes();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task AddNewMeal()
    {
        var newDialog=await _tastyDialog.ShowAddNewMealDialog();
        var result = await newDialog.Result;
        await LoadUserRecipes();
    }
    private async Task OpenSelectedMeal(UserMeal selectedMeal)
    {
        var newDialog = await _tastyDialog.ShowMealDialog(selectedMeal);
        var result = await newDialog.Result;
        await LoadUserRecipes();
    }
    private async Task LoadUserRecipes()
    {
        //if the selected value is null just show whats already filtered
        if (_timeOfDayMeal !=null) {
        } else {
            if(await _loggedUserService.IsCurrentUserDemo())
            {
                _allRecipes = _demoDataStore.DemoMeals.ToList();
            }else
            {
                _allRecipes = await _userMealsUseCase.GetUserMeals(_loggedUserService.UserStore.Id);
            }
            _filteredRecipes = _allRecipes;
        }
        StateHasChanged();
    }

    private void FilterSelectedTimeOfDay(string selectedTime)
    {
        if(selectedTime is null) {
            LoadUserRecipes();
        }else {
            _filteredRecipes = _allRecipes.Where(meal =>
              meal.TimeOfDayMeal.Any(time => time.ToString() == selectedTime)
              ).ToList();
        }
    }

    //TODO proaj prilagodit za mobile view
    //TODO dodaj role za tasty app, odnosno dodaj da se može demo verzija rokat
}
